@model List<TodoApp.Models.Todos>

@{

    //Dynamisk titel
    ViewData["Title"] = "Startsida";
}

<div class="list">
    <h1>Att göra-listan</h1>
    <!--Skriver ut listan-->
    <table>
        <thead>
            <tr>
                <th>
                    Namn
                </th>
                <th>Datum</th>
                <th>Prioritet</th>
                <th>Beskrivning</th>
                <th>Skapad</th>
            </tr>
        </thead>
        <tbody>
            <!--Loopar igenom det lagrade och skriver ut utifrån modellen-->
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Date
                    </td>
                    <td>
                        @item.Priority
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.CreatedDate
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>
